<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; GoneAndGo 2021</span>
    </div>
</footer>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, doloribus labore incidunt voluptates pariatur odio porro voluptatem autem odit mollitia iure quisquam magnam eligendi! Veniam numquam debitis totam necessitatibus doloremque!